/.env
.venv/
**/node_modules/
__pycache__/
.env
.vscode/
.cursor/

credentials.json
calendar_token.json
sheets_token.json
token.json

budget_state.json

.cursor/
.token-oauth
.cursorrules

guardrails.md
state.md
progress.md