google-adk
agent-starter-pack
fastapi
uvicorn
mcp
langchain
langgraph
langgraph-cli[inmem]
langchain-core
langchain-google-community
langchain-google-genai

google-auth-oauthlib
python-dotenv
beautifulsoup4
pyppeteer

ticktick-py
requests
fastapi
fastapi-utilities